<% @resultado.each do |file| %>
		<!-- Compruebo el archivo para ordenar la tabla -->
		<% if File.basename(file, ".*") == "result0e0" %>
		

			<!-- Requiere un orden especial, por lo que se comprueba cada línea para realizar los cambios, tiene además variables que contiene todas las variables unidas por un AND, para poder retirar el último de la variables y no mostrar ningún AND de más -->
			<% if File.exist?(file) %>
				<h3>Reglas obtenidas: </h3>
				<table class="padded ex1">
					<tr id="cabecera">
						<td>Número de regla</td> 
						<td>Antecedente(s)</td> 
						<td>Consecuencia</td>
						<td>Class</td>
					</tr>
				<% variables = "" %>
				<% clas_num = -1 %>
				<% clas_name = "" %>
				<% rule_num = -1 %>
				<% File.readlines(file).each do |line| %>
					<% if line.split[0] == "GENERATED" %>
						<% rule_num += 1 %>
						<tr> <td class="borde_derecho"><%= line.split[1] + " " + rule_num.to_s %></td>
					<% elsif line.split[0] == "Antecedent" %>
						<td class="borde_derecho">
					<% elsif line.split[0] == "Variable" %>
						<% for i in 1..line.split.length-1 %>
							<% variables += line.split[i] + " " %>
						<% end %>
						<% variables += " AND " %>
					<% elsif line.split[0] == "Consecuent:" %>

						<% variables = variables.split %>
						<% variables.pop %>
						<%= variables.join(" ") %></td>
						<% variables = "" %>
						<td class="borde_derecho"><%= line.split[1] %></td>
						<!-- Incluyo el número de la clase aquí -->
						<% clas_num += 1 if clas_name != line.split[1] %>
						<% clas_name = line.split[1] if clas_name != line.split[1] %>
						<td><%= clas_num %></td>
						</tr>
					<% end %>

				<% end %>
			<% end %>
		</table>
		
		<!-- Siguiente archivo a mostrar -->
		<% elsif File.basename(file, ".*") == "result0e1" %>
			
			<% if File.exist?(file) %>
			<h3>Medidas de calidad (Quality measures):</h3>
			<table class="padded ex1">

				<!-- Saco la primera línea 
				<tr><td colspan="<%= File.readlines(file)[1].split.length %>">
					<%= File.readlines(file)[0] %>
				</td></tr> -->

				<!-- Saco el resto de líneas -->
				<% for i in 1..File.readlines(file).length-1 %>
					<tr id="<%= "cabecera" if i==1 %>"> 
					<% File.readlines(file)[i].split.each do |word| %>
						<td class="borde_derecho"> <%= word %> </td> 
					<% end %>
					</tr>
				<% end %>
			<% end %>

			</table>

		<!-- Este me lo salto de momento -->	
		<% elsif File.basename(file, ".*") == "result0e2" %>

		<!-- Siguiente, otra tabla -->	
		<% elsif File.basename(file, ".*") == "result0e3" %>
			
			<% if File.exist?(file) %>
				<h3>Más medidas de calidad: </h3>
				<table class="padded ex1">
				<!-- Saco todas las líneas -->
				<% for i in 0..File.readlines(file).length-1 %>
					<tr id="<%= "cabecera" if i==0 %>"> 
					<% File.readlines(file)[i].split.each do |word| %>
						<td class="borde_derecho"> <%= word != "Number" ? word : "Rule" %> </td> 
					<% end %>
					</tr>
				<% end %>
			<% end %>

			</table>

		<% else %>
			<table class="padded" style="border:1px solid black;">
			<% if File.exist?(file) %>
				<% File.readlines(file).each do |line| %>
					<tr> <td> <%= line %> </td> </tr>
				<% end %>
			<% end %>
			</table>
		<% end %>
	</table>
<% end %>