<% provide(:title, "Nueva consulta") %>

<h1>Nueva consulta</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for @query, :url => confirm_path do |f| %>
			<%= render 'shared/query_errors_messages' %>

			<%= f.label :description, "Breve descripción (obligatorio)" %>
			<%= f.text_field :description, class: 'form-control' %>


			<% options_dis = [['Ninguno', "none"], ['Cluster Analysis', "cluster_analysis"]] %>
			<label for="query_description">Discretizador</label>
			<%= f.select(:discretization) do %>
				<% options_dis.each do |c| %>
					<%= content_tag(:option, c.first, value: c.last) %>
				<% end %>
			<% end %>

			<% options = [['- Requieren discretizar:', "re_dis"], ['AprioriSD', "apriorisd"], ['CN2-SD', "cn2"], 
							['SD-Map', "sdmap"], ['SD-Algorithm', "sd"], 
							['- No requieren discretizar:', "no_dis"], ['MESDIF', "mesdif"], ['SDIGA', "sdiga"]] %>
			<label for="query_description">Algoritmo</label>
			<%= f.select(:algorithm) do %>
				<% options.each do |c| %>
					<%= content_tag(:option, c.first, value: c.last, :disabled => (true if c.last == "no_dis" || c.last == "re_dis")) %>
				<% end %>
			<% end %>

			<%= f.submit "Crear consulta", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>