<% provide(:title, "Nuevo experimento") %>

<h1>Nuevo experimento</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for @query, :url => confirm_path do |f| %>
			<%= render 'shared/query_errors_messages' %>

			<%= f.label :description, "Breve descripción (obligatorio)" %>
			<%= f.text_field :description, class: 'form-control' %>


			<% options_dis = [['Ninguno', "none"], ['Cluster Analysis', "cluster_analysis", {selected:true}], ['Discretizador Fayyad', "fayyad"]] %>
			<label for="query_description">Discretizador</label>
			<%= f.select(:discretization, options_for_select(options_dis), {}, {:onchange => 'change_algorithms()'}) %>

			<% options = [['- Requieren discretizar:', "re_dis", {disabled:true}], ['AprioriSD', "apriorisd"], ['CN2-SD', "cn2"], 
							['SD-Map', "sdmap"], ['SD-Algorithm', "sd"], 
							['- No requieren discretizar:', "no_dis", {disabled:true}], ['MESDIF', "mesdif"], ['SDIGA', "sdiga"]] %>
			<label for="query_description">Algoritmo</label>
			<%= f.select(:algorithm, options_for_select(options), {}, {:class => 'whatever'}) %>

			<%= f.submit "Crear experimento", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>

<script type="text/javascript">
// Función que cambia la disponibilidad de algoritmos
function change_algorithms() {
	var option_num = document.getElementById("query_discretization").options.selectedIndex;
	var option_name = document.getElementById("query_discretization").options.item(option_num).value;

	var algorithms = document.getElementById("query_algorithm").options;

	if (option_name == "cluster_analysis") {
		// Todas las opciones disponibles
		algorithms[1].disabled = false;
		algorithms[2].disabled = false;
		algorithms[3].disabled = false;
		algorithms[4].disabled = false;
	} else if (option_name == "none") {
		// Solo algunas disponibles -deshabilitar
		algorithms[1].disabled = true;
		algorithms[2].disabled = true;
		algorithms[3].disabled = true;
		algorithms[4].disabled = true;
		algorithms.selectedIndex = 6
	} else if (option_name == "fayyad") {
		// Todas las opciones disponibles
		algorithms[1].disabled = false;
		algorithms[2].disabled = false;
		algorithms[3].disabled = false;
		algorithms[4].disabled = false;
	};
}
</script>