<% provide(:title, "Consultas") %>

<h1>Consulta</h1>
<ul>
	<li>Descripción: <%= @query.description %></li>
	<li>Fecha de creación: <%= @query.created_at %></li>
	<li>Estado: <%= @estado %></li>
	<li>Discretizador aplicado: <%= @query.discretization %></li>
	<li>Algoritmo aplicado: <%= @query.algorithm %></li>
	<li>Ruta: <%= File.dirname(@query.queryfile.current_path.to_s) if @query.queryfile? %></li>
	<li>Archivo: <%= File.basename(@query.queryfile.to_s, ".*") if @query.queryfile? %></li>
	<li>Tipo: <%= File.extname(@query.queryfile.to_s) if @query.queryfile? %> </li>

	<% if @query.discretization != "none" %>
		<% case @query.discretization %>
			<% when "cluster_analysis" %>
				<%= render 'show_cluster_analysis', dis: @dis_file %>
			<% else %>
				<%= render '_show_discretization', dis: @dis_file %>
		<% end %>
	<% else %>
		No se realizó discretización <br>
	<% end %>

	<% if @resultado != nil %>
		<% case @query.algorithm %>
			<% when "mesdif" %>
				<%= render 'results_mesdif', resultado: @resultado %>
			<% else %>
				<%= render 'results', resultado: @resultado %>
		<% end %>
	<% else %>
		No se encontró el resultado, ¿hubo un error?
	<% end %>

	

</ul>

<%= link_to 'Atrás', queries_path %>