<% provide(:title, "Consultas") %>

<h1>Consulta</h1>
<div id="descripcion" class="queries">
	<h3>Datos de la consulta: </h3>
<table class="padded ex1">
	<tr><td>Descripción: <%= @query.description %></td></tr>
	<tr><td>Fecha de creación: <%= l @query.created_at, format: :short %></td></tr>
	<tr><td>Estado: <%= @estado %></td></tr>
	<tr><td>Discretizador aplicado: 
		<% case @query.discretization %>
			<% when "cluster_analysis" %>
				<%= "Análisis cluster" %>
			<% when "none" %>
				<%= "Ninguno" %>
		<% end %>
	</td></tr>
	<tr><td>Algoritmo aplicado: <%= @query.algorithm.upcase %></td></tr>
	<tr><td>Archivo: <%= File.basename(@query.queryfile.to_s) if @query.queryfile? %></td></tr>
</table>
</div>
<div class="queries">
	<% if @query.discretization != "none" %>
		<% case @query.discretization %>
			<% when "cluster_analysis" %>
				<%= render 'queries/results/show_cluster_analysis', dis: @dis_file %>
			<% else %>
				<%= render 'queries/results/show_discretization', dis: @dis_file %>
		<% end %>
	<% end %>

	<% if @resultado != nil %>
		<% case @query.algorithm %>
			<% when "mesdif" %>
				<%= render 'queries/results/mesdif', resultado: @resultado %>
			<% when "sdiga" %>
				<%= render 'queries/results/mesdif', resultado: @resultado %>
			<% when "sdmap" %>
				<%= render 'queries/results/sdmap', resultado: @resultado %>
			<% when "sd" %>
				<%= render 'queries/results/sdmap', resultado: @resultado %>
			<% when "cn2" %>
				<%= render 'queries/results/cn2sd', resultado: @resultado %>
			<% when "apriorisd" %>
				<%= render 'queries/results/apriori', resultado: @resultado %>
			<% else %>
				<%= render 'queries/results/results', resultado: @resultado %>
		<% end %>
	<% else %>
		No se encontró el resultado, puede que la consulta no haya finalizado o haya ocurrido un error.
	<% end %>
</div>

<%= link_to 'Atrás', queries_path %>