<header class="navbar navbar-fixed-top navbar-inverse" id="cabecera">
	<div class="">
		<div id="title-container">
			<h1 id="titulo">Aplicación para la extración de reglas descriptivas</h1>
		</div>
		<table class="menu">
			<tr>
				<%= content_tag :td, :class => (yield(:title) == "Home")? "selected" : "" do %>
				  <%= link_to "Inicio", root_path %>
				<% end %>

				<%= content_tag :td, :class => (params[:action] == "list")? "selected" : "" do %>
				  <%= link_to "Consultas", queries_path %>
				<% end %>

				<%= content_tag :td, :class => ((params[:action] == "new")&&
												(params[:controller] == "queries"))? "selected" : "" do %>
				  <%= link_to "Nueva consulta", new_query_path %>
				<% end %>

				<% if logged_in? %>

					<%= content_tag :td, :class => "dropdown " + ((params[:controller] == "users")? "selected" : "") do %>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Usuario <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Ajustes", edit_user_path(current_user) %></li>
							<li class="divider"></li>
							<li><%= link_to "Log out", logout_path, method: "delete" %></li>
						</ul>
					<% end %>
				<% else %>
					<%= content_tag :td, :class => (params[:estado] == "login")? "selected" : "" do %>
						<%= link_to "Log in", login_path %>
					<% end %>
				<% end %>

			</tr>
		</table>
	</div>
</header>